node_modules/
osuApiKey.txt
go.mod
go.sum

src/js/.env
src/js/modules/
src/js/cmds/join.js
src/js/events/messageCreate.mjs

src/go/.env

src/python/.env
src/python/cmds/__pycache__/
src/python/core/__pycacho__/

src/ts/.env
src/ts/dist
src/ts/struct/CommandData.ts
src/ts/cmds/avatar.ts
