node_modules/

src/js/.env
src/js/modules/
src/js/cmds/announcement.js
src/js/cmds/presence.js
src/js/cmds/thinking.js
src/js/cmds/join.js
src/js/events/messageCreate.js

src/go/.env

src/python/.env

src/ts/prod/
src/ts/app.ts
src/ts/tsconfig.json

